body {
	background: url('../style/images/background.jpg');
	background-size: cover;  
    background-attachment: fixed;
    background-position: left center;   
    background-repeat: no-repeat;
}

nav li {
	text-transform: uppercase;
} 

#main-presentation, 
#slideshow {
	margin-top: 70px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      position: relative;
      margin: auto;
  }
