nav li {
	text-transform: uppercase;
} 

#slideshow {
	margin-top: 70px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      position: relative;
      margin: auto;
  }
