nav li {
	text-transform: uppercase;
} 

div.carousel-caption {
	top: 20px;
}

.carousel-indicators {
    top: 130px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      position: relative;
      margin: auto;
  }
